@tailwind base;
@tailwind components;
@tailwind utilities;

/* We used css due to problems with the animation in the tailwind library */

* {
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
p {
  color: #717171;
}
input:focus {
  border-color: #4caf4f;
}
@keyframes fadeInDown {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-fade-in-down {
  animation: fadeInDown 1s ease-out forwards;
}
@keyframes fadeInUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* تطبيق الحركة */
.animate-fade-in-up {
  animation: fadeInUp 1s ease-out forwards;
}
@keyframes fadeInRight {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-fade-in-right {
  animation: fadeInRight 1s ease-out forwards;
}
.hidden {
  opacity: 0;
  transform: translateY(-50px);
}

@keyframes fadeInLeft {
  0% {
    transform: translateX(-15%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.hidden-left {
  opacity: 0;
  transform: translateX(-100%);
}

.animate-fade-in-left {
  animation: fadeInLeft 1s ease-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hidden-child {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.fade-in-element {
  animation: fadeIn 1s ease-out forwards;
}

.fade-in-element:nth-child(1) {
  animation-delay: 0.2s;
}

.fade-in-element:nth-child(2) {
  animation-delay: 0.5s;
}

.fade-in-element:nth-child(3) {
  animation-delay: 0.9s;
}

.fade-in-element:nth-child(4) {
  animation-delay: 1.3s;
}
.hover-text:hover {
  color: #4caf4f;
  transition: 0.35s;
}
